#!/usr/bin/env python
PACKAGE = "provider_vision"

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()


gen.add("gain_mode",                bool_t,     0, "True = Manual, False = Auto ", True)
gen.add("gain_value",               double_t,   0, "Value for the gain", 1)
gen.add("gamma_value",              double_t,   0, "Value for the gamma", 0)
gen.add("exposure_mode",            bool_t,     0, "True = Manual, False = Auto", False)
gen.add("exposure_value",           double_t,   0, "Value for the exposure", 1000)
gen.add("saturation_value",         double_t,   0, "Value for the saturation", 0)
gen.add("shutter_mode",             bool_t,     0, "True = Manual, False = Auto ", False)
gen.add("shutter_value",            double_t,   0, "Value for the shutter", 500.0)
gen.add("framerate_value",          double_t,   0, "Value for the framerate", 15)
gen.add("whitebalance_mode",        bool_t,     0, "True = Manual , False = Auto", True)
gen.add("whitebalance_red_value",   double_t,   0, "Value for the red in the white balance", 0)
gen.add("whitebalance_blue_value",  double_t,   0, "Value for the blue in the white balance", 0)
gen.add("autobrightness_mode",      bool_t,     0, "Value for the auto brightness", True)
gen.add("autobrightness_target",    int_t,      0, "Value for the target brightness", 100)
gen.add("autobrightness_variation", int_t,      0, "Value for the variation of the brightness", 16)
gen.add("width_value",              int_t,      0, "Value for the width on the image", 968)
gen.add("height_value",             int_t,      0, "Value for the height", 608)
gen.add("x_offset",                 int_t,      0, "Offset on the X axis", 484)
gen.add("y_offset",                 int_t,      0, "Offset on the Y axis", 304)
gen.add("format",                   int_t,      0, "Value for the variation of the brightness", 17301513)


exit(gen.generate(PACKAGE, "provider_vision", "Camera_Parameters_"))