<launch>
	<node name="provider_vision" pkg="provider_vision" type="provider_vision_node" output="screen">
  <rosparam command="load" file="$(find provider_vision)/config/camera/camera_config_piscine_cvm.yaml"/>
  <rosparam command="load" file="$(find provider_vision)/launch/patch.yaml"/>
  </node>
</launch>
